/** CSS-Stylesheet-Übung 22
*
**/

body {
	font-family: Calibri; 
	font-weight: normal; 
	background-color: #64c8c8;
}

ul{
	list-style-type: none;
}

a {
	color: #000;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

h1, h2 {
	text-align: center;
 }
 
 p { 
	text-align: center; 
	color: black; 
 }
 
 img {
	 height: 200px;
 }